<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
  <title>UPCOMING - Amazing events</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0e29a92e8b.js" crossorigin="anonymous"></script>    
</head>

<body>
  <header>
    <div class="head_container">
      <div class="logo">
        <img src="./assets/images/Logo.png">
      </div>
      <div class="menu" id="myTopnav">
        <ul>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="openNav()">&#9776;</a>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./pastevents.html">Past Events</a></li>
          <li><a href="./upcoming.html">Upcoming Events</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="#">Stats</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="./index.html">Home</a>
    <a href="./pastevents.html">Past Events</a>
    <a href="upcoming.html">Upcoming Events</a>
    <a href="./contact.html">Contact</a>
    <a href="#">Stats</a>
    <p style="color: #dee3ea; text-align: center; text-shadow: 1px 1px 10px black;font-weight: bold;">Dferprojects
      &copy; 2023</p>
  </div>
  <section class="heading-h1 d-flex justify-content-center align-items-center">
    <h1 class="text-light">Upcoming Events</h1>
  </section>

  <main id="app" class="pb-5">
    <nav class="category-search">
      <div class="categories checkbtn d-flex flex-wrap flex-md-row justify-content-evenly">
        <div class="form-check form-check-inline mt-3 " v-for="category of filteredCategories">
          <label class="form-check-label">{{category}}
            <input v-model="checked" @change="crossFilter" class="form-check-input" type="checkbox" id=""
              :value="category">
          </label>
        </div>
      </div>

      <!-- inputs -->

      <form class="search" role="search">
        <input v-model="searchValue" @keyup="crossFilter" class="form-control" type="search" placeholder="Search..."
          aria-label="Search">
      </form>
    </nav>
    <!-- cards sections -->
    <template v-if="filteredEvents.length > 0">
      <div id="cards-section" class="cards-section d-flex flex-wrap justify-content-center gap-3">
        <div class="card" style="width: 18rem;" v-for="event of filteredEvents">
          <figure id="cardImg">
            <img :src="event.image" class="card-img" :alt="event.name">
          </figure>
          <div class="card-body">
            <div class="d-flex justify-content-center mb-3">
              <h5 class="card-title width">{{event.name}}</h5>
            </div>
            <p class="card-text">{{event.description}}</p>
          </div>
          <div class="d-flex justify-content-evenly align-items-baseline">
            <p>Price: {{event.price}}</p>
            <a :href='"details.html?idUrl="+event._id' class="btn">View More</a>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="d-flex justify-content-center">
        <h4>ERROR 404 NOT FOUND</h4>
    </template>
  </main>

  <footer>
    <div class="d-flex justify-content-evenly">
      <div><img src="./assets/images/elmo.gif" alt="elmo">
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center gap-2">
        <h5>CONTACT ME!</h5>
        <div class="d-flex gap-3">
          <a href="https://www.linkedin.com/in/leojara-it/" target="_blank" class="fa-brands fa-linkedin"></a>
          <a href="https://github.com/Dferprojects" target="_blank" class="fa-brands fa-github"></a>
          <a href="https://www.instagram.com/leo.fjara/" target="_blank" class="fa-brands fa-instagram"></a>
        </div>
      </div>
    </div>
    <div class="copy d-flex justify-content-center align-items-center">
      <h6>&copy; 2023 - Sitio web desarrollado por Dferprojects</h6>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/hamburguesa.js"></script>
  <script src="./js/upcoming.js"></script>
</body>

</html>